/* sizes */
.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.height-full {
  height: 75%;
}

.height-500px {
  height: 500px;
}

/* flex styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

#button1 {
  all:unset;
  background-color:black ;
  border-color:white;
  border-width: 10px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border-style:solid;
  cursor: pointer;
}

.char-image{
  height:25vw;
  width:auto;
}

#input{
  padding: 1vw;
}

#outfit{
  border-color: black;
  border-style: solid;
  border-width: 1vw;
  height: 300px;
}

#glasses{
  height: 300px;
  width: auto;
  position:absolute;
}

#jester{
  height: 300px;
  width: auto;
  position:absolute;
  left: 300px;
}

.accessory{
  position: relative;
  height:300px;
  width: auto;
}